/* foundry list css */
.foundry-list-box {
  margin: 40px 0 0;
  padding: 0 !important;
  width: 100%;
  border-top: 2px solid #222;
}
.foundry-list-box p {
  margin-bottom: 0;
}
.foundry-list-box .tab {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
.foundry-list-box .tab .default-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.foundry-list-box .tab .default-info .name {
  width: 240px;
  font-size: 40px;
  color: #222;
  padding: 12px 0 8px;
}

/* reservation-form css */
.reservationForm {
  margin-top: 40px;
}
.reservation-style-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}
.reservation-style-box > div {
  min-width: 300px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.reservation-style-box > div label {
  margin-bottom: 6px;
  font-size: 11px;
  color:#555;
}
.reservation-style-box > div input {
  padding: 10px;
  border: 1px solid #ddd;
}
.reservation-style-box > div input[type="text"]:disabled {
  background: #f2f2f2;
  color: #888;
}
/* reservation-form member ui css */
.reservation-style-box > div:nth-child(4) > div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  }
  .reservation-style-box > div:nth-child(4) > div > p {
  margin: 0 10px;
  padding: 0;
  }
  .reservation-style-box > div:nth-child(4) > div > p.member {
  width: 20px;
  }
/* reservation-view css */
.foundry-name {
  width: 1200px;
  font-size: 40px;
  color: #222;
  margin-top: 40px;
  padding: 12px 0 8px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #222;
}
.program-info {
  margin: 50px 0 30px;
}
.program-info .program-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
}
.program-info .program-table {
  display: flex;
  justify-content: space-between;
}
.program-table ul {
  width: 25%;
  padding: 20px 0 0;
}
.program-table ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}
.program-table .strong-text li {
  font-weight: bold;
  color: #222;
}
