/* foundry list css */
.foundry-list-box {
  margin: 40px 0 0;
  padding: 0 !important;
  width: 100%;
  border-top: 2px solid #222;
}
.foundry-list-box p {
  margin-bottom: 0;
}
.foundry-list-box .tab {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
.foundry-list-box .tab .default-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.foundry-list-box .tab .default-info .name {
  width: 240px;
  font-size: 40px;
  color: #222;
  padding: 12px 0 8px;
}

/* reservation-form css */
.reservationForm {
  margin-top: 40px;
}
.reservation-style-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}
.reservation-style-box > div {
  min-width: 300px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.reservation-style-box > div label {
  margin-bottom: 6px;
  font-size: 11px;
  color: #555;
}
.reservation-style-box > div input {
  padding: 10px;
  border: 1px solid #ddd;
}
.reservation-style-box > div input[type="text"]:disabled {
  background: #f2f2f2;
  color: #888;
}
/* reservation-form member ui css */
.reservation-style-box > div:nth-child(4) > div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.reservation-style-box > div:nth-child(4) > div > p {
  margin: 0 10px;
  padding: 0;
}
.reservation-style-box > div:nth-child(4) > div > p.member {
  width: 20px;
}
/* reservation-form date ui css */
.date-picker-ui {
  width: 280px;
}
.date-picker-ui input {
  border-radius: 0;
  padding: 10px;
  margin-top: -1px;
  height: 43px;
  box-shadow: none;
  border-radius: 0;
}
.mx-icon-calendar {
  right: 14px;
}

/* reservation-view css */
.foundry-name {
  width: 1200px;
  font-size: 40px;
  color: #222;
  margin-top: 40px;
  padding: 12px 0 8px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #222;
}
.program-info {
  margin: 50px 0 30px;
}
.program-info .program-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
}
.program-info .program-table {
  display: flex;
  justify-content: space-between;
}
.program-table ul {
  width: 25%;
  padding: 20px 0 0;
}
.program-table ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}
.program-table .strong-text li {
  font-weight: bold;
  color: #222;
}

.infoCard {
  width: 760px;
  margin: -80px auto 0;
  padding: 70px 30px 50px;
  background-color: rgb(228, 240, 230);
  border-radius: 12px;
}
.infoCard > p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.infoCard .completeList {
  width: 600px;
  margin: 0 auto 50px;
  padding: 0;
}
.infoCard .completeList li {
  padding: 14px 0;
  border-bottom: 1px solid rgb(155, 177, 163);
}
.button-box {
  width: 430px;
  margin: 0 auto;
}
.img-reservation {
  width: 800px;
  margin: 0 auto;
}

.img-reservation img {
  width: 100%;
}

.announce-text-box {
  width: 1200px;
  margin-bottom: 80px;
}

.announce-text-box > p {
  margin: 0 0 10px;
  text-align: center;
}
