.profile-section{
  width: 1160px;
  margin: 0 auto 30px;
  padding: 20px 30px 13px;
  border-radius: 20px;
  border: 1px solid #718679;
}

.profile-section .my-info-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 8px;
  align-items: center;
}
.profile-section .my-info-box > div{
  display: flex;
  justify-content: flex-start;
}
.profile-section .my-info-box > div > p {
  margin: 0 20px 0 0;
}

.profile-section > ul {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px !important;
}
.profile-section > ul > li {
  display: flex;
  justify-content: space-between;
  width: 32%;
  border-radius: 12px;
  padding: 14px 20px;
  background-color: #c7d6cd;
}
.profile-section > ul > li > p {
  margin-top: 4px;
  margin-bottom: 0;
  color: #2c4636;
  font-size: 14px;
}

/* my-page-reservation */
.attention-box {
  width: 1160px;
  margin: 30px auto;
  padding: 30px 30px 13px;
  border-radius: 20px;
  color: #888;
  background-color: #f2f2f2;
}
.attention-box p {
  margin-bottom: 8px;
}
.my-reservation-list {
  padding-left: 0 !important;
  margin: 0;
}
.my-reservation-list li .reservation-card {
  width: 1180px;
  border-radius: 20px;
}
.my-reservation-list li .reservation-card > div {
  display: flex;
  justify-content: space-between;
}
