
/* products list local-filter-area css*/

.mypageWrap{
    display:flex;
    justify-content: space-evenly;
}
.profile-section {
    width: 400px;
}

.sub-nav {
    padding-top: 30px;
}
.sub-nav li {
    margin: 10px 0;
}
.sub-nav li a {
    font-size: 13px;
    color: #222222;
    text-decoration: none;
}

.management-section {
    width: 800px;
    border-left: 1px solid #eee;
}

.management-box {
    height: 250px;
    padding: 30px;
    border-bottom: 1px solid #eee;
}

.first-box{
    height: 160px !important;
}

.head-area {
    display: flex;
    justify-content: space-between;
}
.head-text {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    margin-bottom: 6px !important;
}